[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint-django = "*"
mysqlclient = "*"
keyring = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
